*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0;
}
body{
    font-family: sans-serif;
    width: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 33%, #08fbdf 94%);    
    background-repeat: no-repeat; 
    background-size: auto;  
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.display{
    border: 1px solid black;
    border-radius: 10px;
    width: 500px;
    height: 450px;
    display: flex;
    flex-direction: column;
    background-color: #141414dc; 
    color: white;   
}
.display h1{
    text-align: center;
    margin-top: 20px;
}
.display .pwd-length{
    padding: 1.2rem 1.5rem;
}
.display .pwd-length input{
    width: 100px;
    padding: 0.3rem 0.5rem;
    margin-left: 0.3rem;
    outline: none;
    border: none;
    border-radius: 3px;
    font-weight: 700;
}
.display .checkboxes{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.display .checkboxes .check{
    display: flex;
    padding: 0 1.5rem;
    gap: 0.5rem;
}
.pwd-btn{
    width:150px;
    margin-left: 170px;
    margin-right: 170px;
    margin-top: 20px;
    padding: 0.4rem;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    color: #fff;
}
.pwd{
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
}
.pwd input{
    margin-top: 20px;
    padding: 0.3rem 0.5rem;
    margin-left: 0.3rem;
    outline: none;
    border: none;
    border-radius: 3px;
    font-weight: 700;
    width: 300px;
}
@media (max-width: 600px){
    .container{
        margin-top: 120px;
    }
   .display{
    width: 390px;
    height: 450px;
   }
   .display .pwd-length{
    font-size: 1.2rem;
   }
   .display .pwd-length input{
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
   }
   .display .checkboxes{
    font-size: 1.2rem;
   }
   .pwd-btn{
    width: 250px;
    padding: 0.8rem 0;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 30px;
    font-size: inherit;
   }
   .pwd{
    font-size: 1.3rem;
   }
   .pwd input{
    width: 330px;
    padding: 0.6rem;
    font-size: 1rem;
   }
  }